@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  exclude: scrollbar;
}

@theme {
  --color-travel-primary: #4880ff;
  --color-travel-secondary: #202224;
  --color-travel-three: #f5f6fa;
  --color-travel-four: #d5d5d5;
  --color-travel-label: #606060;
  --color-travel-error: #ef3826;
  --color-travel-table-head: #f1f4f9;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--color-travel-three);
}

button,
input,
select,
textarea {
  outline: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
}

.sider::-webkit-scrollbar {
  width: 3px;
}

.sider::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.nav-item {
  @apply relative mr-2.5 ml-6 flex items-center gap-4 rounded-md px-3 py-4 text-sm font-semibold;
}

.nav-item.active::before {
  content: "";
  @apply bg-primary absolute top-0 left-[-24px] h-full w-[4.5px] rounded-tr-sm rounded-br-sm;
}

/* Table */
.srcoll-table::-webkit-scrollbar {
  height: 5px;
}

.srcoll-table::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

/* FilePond */
.filepond--credits {
  display: none;
}

.filepond--root {
  margin-bottom: 0 !important;
  width: 150px;
  height: 150px !important;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  background-color: #f5f6fa;
}

.filepond--root .filepond--drop-label label {
  font-size: 30px;
  cursor: pointer;
}

.filepond--root .filepond--drop-label {
  height: 100%;
}

.filepond--root .filepond--action-remove-item {
  background-color: var(--color-error);
  cursor: pointer;
}

.filepond--root .filepond--file-info {
  display: none;
}

.inner-upload-image .filepond--image-preview-wrapper {
  width: 150px !important;
  height: 150px !important;
  top: -17px;
  left: -17px;
}

.inner-upload-image .filepond--action-remove-item {
  position: absolute;
  left: 102% !important;
  top: -30px;
}

.inner-upload-image .filepond--item-panel {
  display: none;
}

.inner-upload-image .filepond--image-clip {
  height: 150px !important;
}

.inner-upload-image .filepond--image-canvas-wrapper {
  transform: none !important;
}

.inner-upload-image .filepond--image-preview canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.inner-upload-image .filepond--image-bitmap {
  height: 150px;
}

.inner-upload-image .filepond--image-preview-overlay-idle {
  color: transparent;
}

/* Tiny MCE */
.tox-statusbar__branding {
  display: none;
}

/* Badge */
.badge-green {
  background-color: rgba(0, 182, 155, 0.2);
  color: #00b69b;
}

.badge-yellow {
  background-color: rgba(255, 168, 86, 0.2);
  color: #ffa756;
}

.badge-red {
  background-color: rgba(239, 55, 38, 0.2);
  color: var(--color-travel-error);
}

/* Input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
